---
import Layout from "../layouts/Layout.astro"

import AboutMe from "../components/AboutMe.astro"
import Badge from "../components/Badge.astro"
import CodeIcon from "../components/icons/Code.astro"
import GitHubIcon from "../components/icons/GitHub.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import MailIcon from "../components/icons/Mail.astro"
import ProfileCheck from "../components/icons/ProfileCheck.astro"
import Projects from "../components/Projects.astro"
import SectionContainer from "../components/SectionContainer.astro"
import SocialPill from "../components/SocialPill.astro"
import Technologies from "../components/Technologies.astro"
import Gizmo from "../components/icons/ProjectIcon.astro"
import Download from "../components/icons/Download.astro"
import ContactIcon from "../components/icons/ContactIcon.astro"
import ContactForm from "../components/ContactForm.astro"
import "/node_modules/flag-icons/css/flag-icons.min.css";

---
<script src="../TranslateScript.js"/>

<Layout
  title="Porfolio de Manuel Marienhoff - Desarrollador y Programador Web"
  description="Contrata a Manuel para crear tu aplicación web o móvil. Desarrollador Web."
>


<main class="px-4">
    <SectionContainer class="py-44 pb-32 mb-2">
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
      <span class="spanish">Hola, soy Manuel</span> <span class="english hidden">Hey! I'm Manuel</span> <a
      href="https://www.linkedin.com/in/manuel-marienhoff-6bb1422b0/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center hover:scale-105 transition"
        >
          <Badge><span class="spanish">Disponible para trabajar</span> <span class="english hidden">Open to work</span></Badge>
        </a>
      </h1>
      <h2
        class="text-yellow-400 text-xl lg:text-2xl text-balance max-w-[700px]"
      >
        <span class="spanish">Desarrollador Web Full Stack.</span>
        <span class="text-white/60 spanish">
          De Buenos Aires, Argentina.</span
        > <span class="english hidden">Full Stack Developer.</span> <span class=" text-white/60 english hidden">Buenos Aires, Argentina</span>

      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/manuel-marienhoff-6bb1422b0/">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/ManuelMarienhoff">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:manuelmarienhoff1@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          manuelmarienhoff1@gmail.com
        </SocialPill>
        <SocialPill href="/CV-MANUEL-MARIENHOFF.pdf" download="CV-MANUEL-MARIENHOFF.pdf">
          <span class="spanish">
            Descargar CV
          </span>
          <span class="english hidden">Download CV</span>
          <Download class="size-4 md:size-6" />
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white"
      >
        <CodeIcon class="size-7" />
        <span class="spanish">
          Proyectos
        </span>
        <span class="english hidden">Projects</span>
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2
      class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white"
      >
      <ProfileCheck class="size-7" />
      <span class="spanish">
      Sobre mi</span>
        <span class="english hidden">About Me</span>

    </h2>
    <AboutMe />
    </SectionContainer>
    <SectionContainer id="contacto">
      <h2
      class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white"
      >
      <ContactIcon class="size-7"/><span class="spanish">Contacto</span>
        <span class="english hidden">Contact</span>

      </h2>
      <h4 class="text-white/85 mb-8"><span class="spanish">Contáctame directamente a </span><span class="english hidden">Contact me directly to </span><a class="underline text-yellow-400/90 font-semibold" href="mailto:manuelmarienhoff1@gmail.com">manuelmarienhoff1@gmail.com</a> <span class="spanish">o mediante el siguiente formulario.</span><span class="english hidden"> or through the form below.</span></h4>
      <ContactForm/>
    </SectionContainer>
    
    <SectionContainer id="tecnologias">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white"><Gizmo class="size-4 md:size-6" />
        <span class="spanish">Tecnologías</span>
        <span class="english hidden">Technologies</span>
      </h2>
      <Technologies/>
    </SectionContainer>
    
</main>
</Layout>
