
<section class="flex flex-col md:flex-row gap-8 justify-center items-center text-white/85">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Manuel pero mis amigos me dicen maners. Me fascina la idea de <strong>usar la computadora para crear y no solo para consumir</strong>;
      Además de programar, me gusta producir musica electrónica.
      </p>
      <p>
      Comencé en el mundo de la programación viendo tutoriales en Youtube hasta que decidí dar un paso más 
      y por eso estudié <strong>Programación Web Full Stack</strong> en <strong> Digital House</strong>,
       desde ese momento supe que esta iba a ser mi vocacion.
       <strong>Actualmente</strong> estoy enfocado en <strong>React</strong> y <strong>TypeScript</strong>.
    </p>
  </div>

  <img src="/fotoCv.jpg" class="rounded-full size-64 order-1 md:order-2" alt="Foto Manuel"/>

</section>

