<form action="https://formsubmit.co/manuelmarienhoff1@gmail.com" method="post">
    <div>
        <div class="mb-4">
            <label class="text-white" for="email">Correo</label>
            <input type="text" name="email" id="email" placeholder="Correo electrónico" required>
        </div>
        <div class="mb-4">
            <label class="text-white" for="asunto">Asunto</label>
            <input type="text" name="asunto" id="asunto" placeholder="Asunto" required>
        </div>
        <div>
            <label class="text-white" for="mensaje">Mensaje</label>
            <textarea class="h-52 outline-none rounded-lg p-4" name="mensaje" id="mensaje" placeholder="Mensaje" required></textarea>
        </div>
        <div>
            <input class="text-black bg-white rounded p-1" type="submit"></input>
        </div>
    </div>
    <input type="hidden" name="_next" value="https://devmanuel.netlify.app/">
    <input type="hidden" name="_captcha" value="false">

</form>