---
import Git from "./icons/Git.astro"
import JavaScript from "./icons/JavaScript.astro"
import HTML from "./icons/Html.astro"
import CSS from "./icons/Css.astro"
import React from "./icons/React.astro"
import Vite from "./icons/Vite.astro"
import Tailwind from "./icons/Tailwind.astro"
import Astr0 from "./icons/Astr0.astro"
import Express from "./icons/Express.astro"
import MySql from "./icons/MySql.astro"
import Sequelize from "./icons/Sequelize.astro"
import Node from "./icons/Node.astro"
import VsCode from "./icons/VsCode.astro"
import Figma from "./icons/Figma.astro"


---

<div class="flex flex-col text-white">
    <h4 class="text-md mt-4 mb-2">Front-end</h4>
    <ul class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
        <li class="flex items-center gap-4 p-3 rounded-md bg-gradient-to-r from-blue-800/30 to-yellow-400/25 "><HTML class="size-7"/>HTML</li>
        <li class="flex items-center gap-4 p-3 rounded-md bg-gradient-to-r from-blue-800/30 to-yellow-500/25 "><CSS class="size-7"/>CSS</li> 
        <li class="flex items-center gap-4 p-3 rounded-md bg-gradient-to-r from-blue-800/30 to-yellow-500/25 "><React class="size-7"/>React</li> 
        <li class="flex items-center gap-4 p-3 rounded-md bg-gradient-to-r from-blue-800/30 to-yellow-500/25 "><Vite class="size-7"/>Vite</li> 
        <li class="flex items-center gap-4 p-3 rounded-md bg-gradient-to-r from-blue-800/30 to-yellow-500/25 "><Tailwind class="size-7"/>Tailwind CSS</li> 
        <li class="flex items-center gap-4 p-3 rounded-md bg-gradient-to-r from-blue-800/30 to-yellow-500/25 "><Astr0 class="size-7"/>Astro</li> 
    </ul>
    <h4 class="text-md mt-4 mb-2">Back-end</h4>
    <ul class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
        <li class="flex items-center gap-4 p-3 rounded-md bg-gradient-to-r from-blue-800/30 to-yellow-500/25 "><Node class="size-7"/>Node.js</li> 
        <li class="flex items-center gap-4 p-3 rounded-md bg-gradient-to-r from-blue-800/30 to-yellow-500/25 "><Express class="size-7"/>Express</li>
        <li class="flex items-center gap-4 p-3 rounded-md bg-gradient-to-r from-blue-800/30 to-yellow-500/25 "><MySql class="size-7"/>MySql</li> 
        <li class="flex items-center gap-4 p-3 rounded-md bg-gradient-to-r from-blue-800/30 to-yellow-500/25 "><Sequelize class="size-7"/>Sequelize</li> 
    </ul>
    <h4 class="text-md mt-4 mb-2"><span class="spanish">Lenguajes</span><span class="english hidden">Languages</span></h4>
    <ul class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
        <li class="flex items-center gap-4 p-3 rounded-md bg-gradient-to-r from-blue-800/30 to-yellow-500/25 "><JavaScript class="size-7"/>JavaScript</li>
    </ul>
    <h4 class="text-md mt-4 mb-2"><span class="spanish">Herramientas</span><span class="english hidden">Tools</span></h4>
    <ul class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
        <li class="flex items-center gap-4 p-3 rounded-md bg-gradient-to-r from-blue-800/30 to-yellow-500/25 "><VsCode class="size-7"/>VsCode</li>
        <li class="flex items-center gap-4 p-3 rounded-md bg-gradient-to-r from-blue-800/30 to-yellow-500/25 "><Figma class="size-7"/>Figma</li>
        <li class="flex items-center gap-4 p-3 rounded-md bg-gradient-to-r from-blue-800/30 to-yellow-500/25 "><Git class="size-7"/>Git</li>

    </ul>

</div>